/web-app/pom.xml
/web-app/pom.xml.asc
*.jar
*.class
/web-app/lib/
/web-app/classes/
/web-app/target/
/web-app/checkouts/
/web-app/.lein-deps-sum
/web-app/.lein-repl-history
/web-app/.lein-plugins/
/web-app/.lein-failures
/web-app/.nrepl-port
/web-app/log/
